
section.section-2 > .background-wrapper > .component > .btn-up {
  right: 30px;
  bottom: 80px;
}

section.section-2 > .background-wrapper > .component > .btn-up > img {
  cursor: pointer;
  width: 50px;
}

/* For applications */
.application-wrapper {
  position: relative;
}

.application {
  background-color: rgba(53, 130, 126, 0.5);
  text-align: left;
  padding: 0 20px;
  width: 500px;
  margin: 40px auto;
  overflow: hidden;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.application > .application-header > div {
  display: inline-block;
  color: white;
  margin-right: 30px;
}

.application > .application-header > .application-date > div {
  width: 100%;
  text-align: center;
}

.application > .application-header > .application-date > div:nth-child(2) {
  font-size: 2em;
}

.application > .application-header,
.application > .application-content {
  border-bottom: 1px solid white;
}

.application > .application-content {
  padding: 20px 40px;
  margin-bottom: 40px;
}

.application > .application-link {
  padding: 10px;
  float: right;
}

.application > .application-link > a {
  color: white;
  text-decoration: none;
}
