
/**
 *  For blog
 */

/********************************/
/*          Section 2           */
/********************************/

section.section-2 > .content-wrapper > .content p {
  color: rgba(71, 26, 12, 1);
}

section.section-2 #blog > .component > .btn-top {
  bottom: -100px;
}

/********************************/
/*           Columns            */
/********************************/

.blog-wrapper {
  position: absolute;
  top: 0;
  right: -750px;
  width: 600px;
  padding: 10px 40px;
  margin-bottom: 120px;
  background-color: rgba(83, 84, 84, 0.5);
  box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.4);

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blog-wrapper.active {
  position: relative;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.blog-wrapper.inactive {
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* header */
.blog-wrapper > .blog-header-wrapper {
  color: white;
}

.blog-wrapper > .blog-header-wrapper > .left-block > span {
  font-size: 0.5em;
}

.blog-wrapper > .blog-header-wrapper > .right-block {
  margin-left: 20px
}

/* content */
.blog-wrapper > .blog-content-wrapper {
  text-align: left;
  padding: 30px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.blog-wrapper > .blog-content-wrapper > .top-block > img {
  width: 50%;
}

.blog-wrapper > .blog-content-wrapper > .bottom-block > p {
  color: rgba(0, 0, 0, 1) !important;
}

/* footer */
.blog-wrapper > .blog-footer-wrapper {
  text-align: right;
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.blog-wrapper > .blog-footer-wrapper > a {
  color: white;
  text-decoration: none;
}

/********************************/
/*          Responsive          */
/********************************/

@media only screen and (max-width: 1024px) {
  .blog-wrapper {
    width: 450px;
  }
}

@media only screen and (max-width: 512px) {
  .blog-wrapper {
    width: 320px;
    padding: 10px 20px;
  }
  .blog-wrapper > .blog-content-wrapper {
    padding: 10px;
  }
  .blog-wrapper > .blog-footer-wrapper {
    padding-right: 0;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 420px) {
  .blog-wrapper {
    width: 260px;
  }
}

@media only screen and (max-width: 320px) {
  .blog-wrapper {
    width: 220px;
  }
}
/* For Columns */
/*.blog-wrapper {
  position: relative;
}

.blog {
  background-color: rgba(83, 84, 84, 0.5);
  text-align: left;
  padding: 0 20px;
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.blog > .blog-header > div {
  display: inline-block;
  color: white;
  margin-right: 30px;
}

.blog > .blog-header > .blog-date > div {
  width: 100%;
  text-align: center;
}

.blog > .blog-header > .blog-date > div:nth-child(2) {
  font-size: 2em;
}

.blog > .blog-header,
.blog > .blog-content {
  border-bottom: 1px solid white;
}

.blog > .blog-content {
  padding: 20px 40px;
}

.blog > .blog-link {
  padding: 10px;
  float: right;
}

.blog > .blog-link > a {
  color: white;
  text-decoration: none;
}*/
