/**
 *  Blog Css
 */

/********************************/
/*          Section 1           */
/********************************/

section.section-1 {
}

section.section-1 > .background-wrapper {
  background-image: url("../imgs/line/04_line.png");
}

section.section-1 > .content-wrapper > .header {
  color: white;
  font-size: 2em;
  margin-top: 100px;
}

section.section-1 > .content-wrapper > .content {
  color: white;
  margin-top: -50px;
  margin-left: 300px;
}

/********************************/
/*          Section 2           */
/********************************/

section.section-2 > .background-wrapper {
  background-image: url("../imgs/pic/04_cut.png");
}


/********************************/
/*          Section 3           */
/********************************/

section.section-3 > .background-wrapper {
  background-image: url("../imgs/pic/04_cut.png");
}

section.section-3 > .content-wrapper > .header,
section.section-3 > .content-wrapper > .content {
  color: black;
}

section.section-3 > .content-wrapper > .content > .article{
	padding: 50px;
	margin-bottom: 50px;
	background-color: rgba(83,84,84,0.5);
	color: white;
}

section.section-3 > .content-wrapper > .content > .article > .button{
  text-align: right;
  margin-top: -50px;
  margin-right: -50px;
}

section.section-3 > .content-wrapper > .content > .article > .title-block{
	text-align: left;
}
section.section-3 > .content-wrapper > .content > .article > .title-block > .title{
	font-size: 1.5em;
}
section.section-3 > .content-wrapper > .content > .article > .title-block > .date{
	font-size: 0.6em;
	text-align: center;
	margin-left: -10%;
}
section.section-3 > .content-wrapper > .content > .article > .title-block > .date > span{
	font-size: 2.5em;
}
section.section-3 > .content-wrapper > .content > .article > .content-block{
	padding-top: 10px;
	border-top: 1px solid rgba(255,255,255,0.6);
	border-bottom: 1px solid rgba(255,255,255,0.6);
	text-align: left;
	color: white;
}
section.section-3 > .content-wrapper > .content > .article > .readmore{
	padding-top: 15px;
	text-align: right;
}
section.section-3 > .content-wrapper > .content > .article > .content-block img{
	width: 100%;
}
