
/**
 *  For column
 */

/********************************/
/*          Section 2           */
/********************************/

section.section-2 > .content-wrapper > .content p {
  color: rgba(71, 26, 12, 1);
}

section.section-2 #column > .component > .btn-top {
  bottom: -100px;
}

/********************************/
/*           Columns            */
/********************************/

.column-wrapper {
  position: relative;
  width: 600px;
  padding: 10px 40px;
  margin: 0 auto;
  margin-bottom: 120px;
  background-color: rgba(83, 84, 84, 0.5);
  box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.4);
}

.application-wrapper > .application-top-block-wrapper > .application-header-wrapper > .left-block > span {
  font-size: 0.5em;
}

/* header */
.column-wrapper > .column-header-wrapper {
  color: white;
}

.column-wrapper > .column-header-wrapper > .left-block > span {
  font-size: 0.5em;
}

.column-wrapper > .column-header-wrapper > .right-block {
  margin-left: 20px
}

/* content */
.column-wrapper > .column-content-wrapper {
  text-align: left;
  padding: 30px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.column-wrapper > .column-content-wrapper > .top-block > img {
  width: 50%;
}

.column-wrapper > .column-content-wrapper > .bottom-block > p {
  color: rgba(0, 0, 0, 1) !important;
}

/* footer */
.column-wrapper > .column-footer-wrapper {
  text-align: right;
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.column-wrapper > .column-footer-wrapper > a {
  color: white;
  text-decoration: none;
}

/********************************/
/*          Responsive          */
/********************************/

@media only screen and (max-width: 1024px) {
  .column-wrapper {
    width: 450px;
  }
}

@media only screen and (max-width: 512px) {
  .column-wrapper {
    width: 300px;
    padding: 10px 20px;
  }
  .column-wrapper > .column-content-wrapper {
    padding: 10px;
  }
  .column-wrapper > .column-footer-wrapper {
    padding-right: 0;
    padding-bottom: 10px;
  }
}


/* For Columns */
/*.column-wrapper {
  position: relative;
}

.column {
  background-color: rgba(83, 84, 84, 0.5);
  text-align: left;
  padding: 0 20px;
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.column > .column-header > div {
  display: inline-block;
  color: white;
  margin-right: 30px;
}

.column > .column-header > .column-date > div {
  width: 100%;
  text-align: center;
}

.column > .column-header > .column-date > div:nth-child(2) {
  font-size: 2em;
}

.column > .column-header,
.column > .column-content {
  border-bottom: 1px solid white;
}

.column > .column-content {
  padding: 20px 40px;
}

.column > .column-link {
  padding: 10px;
  float: right;
}

.column > .column-link > a {
  color: white;
  text-decoration: none;
}*/
