/**
 *  Common Css
 */

/********************************/
/*        Global Default        */
/********************************/

html, body {
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1.42857143;
  padding: 0em;
  margin: 0em;
  overflow-y: hidden;
}

p {
  font-size: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.0em;
}

h5 {
  font-size: 0.88em;
}

ul {
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -ms-padding-start: 0;
  -o-padding-start: 0;
  padding-start: 0;

  -webkit-padding-end: 0;
  -moz-padding-end: 0;
  -ms-padding-end: 0;
  -o-padding-end: 0;
  padding-end: 0;

  -webkit-margin-before: 0;
  -moz-margin-before: 0;
  -ms-margin-before: 0;
  -o-margin-before: 0;
  margin-before: 0;

  -webkit-margin-after: 0;
  -moz-margin-after: 0;
  -ms-margin-after: 0;
  -o-margin-after: 0;
  margin-after: 0;
}

/********************************/
/*          Component           */
/********************************/


/**
 *  Website Framework
 *    @ section:
 *      { min-height: 650px, skew: (0deg, 5deg) }
 *
 *      > .background-wrapper
 *         { width: 100%, height: 116.6%, margin-top: -54px }
 *
 *      > .background-wrapper,
 *      > .content-wrapper
 *         { skew: (0deg, -5deg) }
 *
 *    @ section.top-section
 *      { margin-top: -54px }
 *
 *    @ section.top-section > .content-wrapper > .header
 *      { margin-top: 154px }
 *
 *    @ section.bottom-section
 *      { margin-bottom: -54px }
 *
 *    @ section > .background-wrapper:
 *
 *
 */


div.main {
  position: relative;
  width: 100%;
}

section {
  position: relative;
  width: 100%;
  min-height: 650px;
  overflow: hidden;

  -webkit-transform: skew(0deg, 5deg);
  -moz-transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -o-transform: skew(0deg, 5deg);
  transform: skew(0deg, 5deg);
}

section > .background-wrapper,
section > .content-wrapper {
  -webkit-transform: skew(0deg, -5deg);
  -moz-transform: skew(0deg, -5deg);
  -ms-transform: skew(0deg, -5deg);
  -o-transform: skew(0deg, -5deg);
  transform: skew(0deg, -5deg);
}

/*  For Section Background  */

section > .background-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

section > .background-wrapper > div,
section > .background-wrapper > .component > div {
  position: absolute;
}

section > .background-wrapper > .background {
  position: absolute;
  z-index: -999;
  top: 0;
  left: 0;
  background-size: cover;   /*  For RWD, this feature needs to be set to 'contain'  */
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  width: auto;
  height: 116.6%;
  margin-top: -54px;
}

section > .background-wrapper > .background > img {
  min-width: 100%;
  width: auto;
  height: 100%
}

section > .background-wrapper > .component {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*  For Section Content  */

section > .content-wrapper {
  max-width: 884px;
}

section > .content-wrapper > .header {
  margin-top: 100px;
  /*margin: 100px 0px;*/
}

section > .content-wrapper > .header img {
  width: 100%;
}

section > .content-wrapper > .header,
section > .content-wrapper > .content {
  text-align: center;
}

section > .content-wrapper > .content > div {
  margin-bottom: 50px;
}


/* For Top & Bottom Section */

section.top-section {
  /*min-height: 680px*/
  margin-top: -54px;
}

section.top-section > .content-wrapper > .header {
  margin-top: 154px; /* 54 + 100 */
}

section.top-section > .content-wrapper > .content {
  color: white;
  margin-top: -20px;
  margin-left: 400px;
  letter-spacing: 6px;
}

section.bottom-section {
  padding-bottom: 54px;
  margin-bottom: -54px;
}


/**
 *  Line Styles
 */

.horizontal-line {
  position: relative;
  width: 100%;
}

.vertical-line {
  position: relative;
  height: 100%;
}

/* Line Position */

.line-left {
  border-left: 1px dashed;
}

.line-right {
  border-right: 1px dashed;
}

.line-top {
  border-top: 1px dashed;
}

.line-bottom {
  border-bottom: 1px dashed;
}

/* Line Color */

.line-white {
  border-color: white;
}

.line-black {
  border-color: black;
}

/**
 *  Navbar Styles
 */

nav#navbar {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 50px;
  width: 190px;
  height: 100%;
  background-color: rgba(51, 126, 121, 0.7);
  box-shadow: -3.5px 0px 1px rgba(0, 0, 0, 0.4);
}

nav#navbar .header{
  text-align: center;
}

nav#navbar .header img{
  padding-top: 40px;
  padding-bottom: 15px;
  width: 60%;
}

nav#navbar .content > ul {
  list-style-type: none;
}

nav#navbar .content > ul > li {
  width: 100%;
  height: 70px;
  font-size: 1.1em;
  margin: 10px auto;
  background-color: rgba(51, 126, 121, 0.7);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.4);
}

nav#navbar .content a {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}


/**
 *  Footer Styles
 */

footer#footer {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  color: white;
  background-color: rgba(48, 125, 125, 1);
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}

/**
 * Right Line
 */

div#rightLine {
  /*position: absolute;*/
  position: fixed;
  z-index: 1;
  top: 0;
  right: 109px;
  width: 1px;
  background-color: transparent;
}

/**
 * Corner Tag
 */
div#cornerTag {
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 0;
  width: 230px;
}

div#cornerTag > img {
  width: 100%;
}


/********************************/
/*            Shapes            */
/********************************/

.circle {
  border-radius: 50%;
}

.left-top-triangle {

}

.right-bottom-triangle {

}


/********************************/
/*        Global Classes        */
/********************************/

.header {
  /*margin: 30px auto;*/
}

.content {
  margin: 0 auto;
}

.vertical-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.horizontal-vertical-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.width-25,
.width-33,
.width-40,
.width-50,
.width-55,
.width-75 {
  display: inline-block;
}

.width-25 {
  width: 25%;
}

.width-33 {
  width: 33%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-55 {
  width: 55%;
}

.width-75 {
  width: 75%;
}

/* Font */
.font-white {
  color: white;
}

/********************************/
/*          Responsive          */
/********************************/

@media only screen and (max-width: 1240px) {
  section > .content-wrapper {
    padding-left: 240px;
  }
}
