/**
 *  Common Css
 */

/********************************/
/*        Global Default        */
/********************************/
html, body {
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1.42857143;
  font-family: 'Arial';
  font-weight: 100;
  padding: 0em;
  margin: 0em;
}

p {
  font-size: 1em;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
  margin: 0;
}

h1 {
  /*font-size: 2em;*/
  font-size: 4.0em;
}

h2 {
  /*font-size: 1.6em;*/
  font-size: 2.0em;
}

h3 {
  /*font-size: 1.2em;*/
  font-size: 1.6em;
}

h4 {
  /*font-size: 1em;*/
  font-size: 1.2em;
}

h5 {
  /*font-size: 0.88em;*/
  font-size: 1.0em;
}

ul {
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -ms-padding-start: 0;
  -o-padding-start: 0;
  padding-start: 0;

  -webkit-padding-end: 0;
  -moz-padding-end: 0;
  -ms-padding-end: 0;
  -o-padding-end: 0;
  padding-end: 0;

  -webkit-margin-before: 0;
  -moz-margin-before: 0;
  -ms-margin-before: 0;
  -o-margin-before: 0;
  margin-before: 0;

  -webkit-margin-after: 0;
  -moz-margin-after: 0;
  -ms-margin-after: 0;
  -o-margin-after: 0;
  margin-after: 0;
}

/********************************/
/*          Component           */
/********************************/


/**
 *  Website Framework
 *    @ section:
 *      { min-height: 535px, skew: (0deg, 5deg) }
 *
 *      > .background-wrapper
 *         { width: 100%, top: -54px, left: 0 }
 *
 *      > .background-wrapper,
 *      > .content-wrapper
 *         { skew: (0deg, -5deg) }
 *
 *    @ section.top-section
 *      { margin-top: -54px }
 *
 *    @ section.top-section > .content-wrapper > .header
 *      { margin-top: 154px }
 *
 *    @ section.bottom-section
 *      { margin-bottom: -54px }
 *
 *    @ section > .background-wrapper:
 *
 *
 */


div.main {
  position: relative;
  overflow-y: hidden;
}

section {
  position: relative;
  width: 100%;
  min-height: 715px;
  overflow: hidden;

  -webkit-transform: skew(0deg, 5deg);
  -moz-transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -o-transform: skew(0deg, 5deg);
  transform: skew(0deg, 5deg);
}

section > .background-wrapper,
section > .content-wrapper {
  -webkit-transform: skew(0deg, -5deg);
  -moz-transform: skew(0deg, -5deg);
  -ms-transform: skew(0deg, -5deg);
  -o-transform: skew(0deg, -5deg);
  transform: skew(0deg, -5deg);
}

/*  For Section Background  */

section > .background-wrapper {
  position: absolute;
  top: -54px;
  left: 0;
  width: 100%;
  height: 100%;
}

section > .background-wrapper > .background {
  position: absolute;
  z-index: -999;
  top: 0;
  left: 0;
  width: 100%;
}

section > .background-wrapper > .background > img {
  width: 100%;
}

section > .background-wrapper > .component {
  position: relative;
  width: 100%;
  height: 100%;
}

section > .background-wrapper > .component > div {
  position: absolute;
}

/*  For Section Content  */

section > .content-wrapper {
  width: 884px;
}

section > .content-wrapper > .header {
  color: white;
  margin-top: 75px;
}

section > .content-wrapper > .header,
section > .content-wrapper > .content {
  position: relative;
  text-align: center;
}

section > .content-wrapper > .content > .component {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* For Content Components */

.btn-back,
.btn-next,
.btn-top,
.btn-control > .circle {
  cursor: pointer;
}

/**
 *  Btn Back, Next, Top
 */

section > .content-wrapper > .content > .component > .btn-back,
section > .content-wrapper > .content > .component > .btn-next,
section > .content-wrapper > .content > .component > .btn-top {
  position: absolute;
}

section > .content-wrapper > .content > .component > .btn-back,
section > .content-wrapper > .content > .component > .btn-next {
  width: 30px;
  height: 30px;
}

section > .content-wrapper > .content > .component > .btn-top {
  width: 50px;
  height: 50px;
}

section > .content-wrapper > .content > .component > .btn-back > img,
section > .content-wrapper > .content > .component > .btn-next > img,
section > .content-wrapper > .content > .component > .btn-top > img {
  width: 100%;
}

section > .content-wrapper > .content > .component > .btn-back {
  right: 20px;
  bottom: 0;
}

section > .content-wrapper > .content > .component > .btn-next {
  right: -50px;
  bottom: 0;
}

section > .content-wrapper > .content > .component > .btn-top {
  right: -70px;
  bottom: 20px;
}

/* For Top & Bottom Section */

/**
 *  Top Section
 */

section.top-section {
  min-height: 644px; /* 535 + 54 */
  margin-top: -54px;
}

section.top-section > .background-wrapper,
section.top-section > .background-wrapper > .background > img {
  padding-top: 108px;
}

section.top-section > .content-wrapper > .header {
  margin-top: 200px;
  margin-left: -150px;
}

section.top-section > .content-wrapper > .content {
  color: white;
  margin-top: -30px;
  margin-left: 300px;
  letter-spacing: 4px;
  font-size: 1.3em;
}

/**
 *  Bottom Section
 */
section.bottom-section {
  padding-bottom: 54px;
  margin-bottom: -54px;
}
section.bottom-section,
section.bottom-section > .background-wrapper,
section.bottom-section > .background-wrapper > .background,
section.bottom-section > .background-wrapper > .background img {
  width: auto;
  min-width: 100%;
  height: 100%;
  min-height: 512px;
  /*min-height: 823px; /* height in 1237px window width of index_02.png */
}

/**
 *  Line Styles
 */

.horizontal-line {
  position: relative;
  width: 100%;
}

.vertical-line {
  position: relative;
  height: 100%;
}

/* Line Position */

.line-left {
  border-left: 1px dashed;
}

.line-right {
  border-right: 1px dashed;
}

.line-top {
  border-top: 1px dashed;
}

.line-bottom {
  border-bottom: 1px dashed;
}

/* Line Color */

.line-white {
  border-color: white;
}

.line-black {
  border-color: black;
}

/**
 *  Navbar Styles
 */

nav#navbar {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 50px;
  width: 190px;
  height: 100%;
  background-color: rgba(51, 126, 121, 0.7);
  box-shadow: -3.5px 0px 1px rgba(0, 0, 0, 0.4);
}

nav#navbar .header{
  text-align: center;
}

nav#navbar .header img{
  padding-top: 40px;
  padding-bottom: 15px;
  width: 60%;
}

nav#navbar .content > ul {
  list-style-type: none;
}

nav#navbar .content > ul > li {
  width: 100%;
  height: 70px;
  font-size: 1.1em;
  margin: 10px auto;
  background-color: rgba(51, 126, 121, 0.7);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.4);
}

nav#navbar .content a {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}

/**
 *  Footer Styles
 */

footer#footer {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  color: white;
  background-color: rgba(48, 125, 125, 1);
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}

/**
 * Right Line
 */

div#rightLine {
  /*position: absolute;*/
  position: fixed;
  z-index: 1;
  top: 0;
  right: 8.5%;
  background-color: transparent;
}

/**
 * Corner Tag
 */
div#cornerTag {
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 0;
  width: 18%;
}

div#cornerTag > img {
  width: 100%;
}

/********************************/
/*          Components          */
/********************************/

.btn-back, .btn-next, .btn-control > .circle {
  cursor: pointer;
}

/********************************/
/*        Global Classes        */
/********************************/

.header {
  /*margin: 30px auto;*/
}

.content {
  margin: 0 auto;
}

.vertical-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.horizontal-vertical-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-pull-right {
  margin-left: auto;
}

.flex-pull-left {
  margin-right: auto;
}

.width-25,
.width-33,
.width-40,
.width-50,
.width-55,
.width-75 {
  display: inline-block;
}

.width-25 {
  width: 25%;
}

.width-33 {
  width: 33%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-55 {
  width: 55%;
}

.width-75 {
  width: 75%;
}

/* Font */
.font-white {
  color: white;
}

/********************************/
/*          Responsive          */
/********************************/

@media only screen and (max-width: 1240px) {
  section > .content-wrapper {
    margin-left: 240px;
  }
}

@media only screen and (max-width: 1024px) {
  html, body {
    font-size: 16px;
  }
  section {
    width: 100%;
    height: auto;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  section > .background-wrapper,
  section > .content-wrapper {
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  section > .background-wrapper {
    top: 0;
  }
  section.top-section {
    text-align: center;
    margin-top: 0;
  }
  section.top-section > .background-wrapper,
  section.top-section > .background-wrapper > .background > img {
    padding: 0;
  }
  section.top-section > .content-wrapper > .header {
    margin-top: 150px;
    margin-left: -90px;
  }
  section.top-section > .content-wrapper > .content {
    color: white;
    margin-top: -15px;
    margin-left: 200px;
    letter-spacing: 4px;
    font-size: 1.3em;
  }
  section.bottom-section,
  section.bottom-section > .background-wrapper,
  section.bottom-section > .background-wrapper > .background,
  section.bottom-section > .background-wrapper > .background img {
    min-height: 0;
  }
  section > .content-wrapper {
    width: 100%;
    margin-left: 0px;
  }
  section > .content-wrapper > .header {
    margin-top: 30px;
  }
  .component, #cornerTag {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
  section.top-section > .content-wrapper > .header {
    margin-top: 150px;
  }
}

@media only screen and (max-width: 512px) {
  html, body {
    font-size: 12px;
  }
  section.top-section > .content-wrapper > .header {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 420px) {
  section.top-section > .content-wrapper > .content {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 320px) {
  section.top-section > .content-wrapper > .header {
    margin-top: 60px;
  }
  section.top-section > .content-wrapper > .content {
    margin-left: 60px;
  }
}
