/**
 *  Contact Css
 */

/********************************/
/*        Contact Info          */
/********************************/

div#contactInfo {
  position: absolute;
  z-index: 50;
  top: 12%;
  left: 0;
}

div#contactInfo.content-wrapper > .contact-wrapper {
  position: relative;
  margin: 0 30px;
  padding: 30px;
  text-align: center;
  color: white;
  background-color: rgba(51, 126, 121, 0.5);
}


/**
 *  contactInfo header
 */

div#contactInfo .contact-wrapper > .header > .subtitle {
  position: relative;
  right: -25%;
  /*margin-top: -50px;*/
  letter-spacing: 4px;
}

/**
 *  contactInfo content
 */
div#contactInfo .contact-wrapper > .content > .row {
  display: block;
}

/* social-link */
div#contactInfo .contact-wrapper > .content > .row.social {
  margin-top: 50px;
}

div#contactInfo .contact-wrapper > .content > .row.social > img {
  width: 75px;
  margin: 0 15px;
}

/* description */
div#contactInfo .contact-wrapper > .content > .row.description {
  margin: 75px 0;
}

div#contactInfo .contact-wrapper > .content > .row.description > h4 {
  font-weight: bold;
}

/* information */
div#contactInfo .contact-wrapper > .content > .row.information,
div#contactInfo .contact-wrapper > .content > .row.time,
div#contactInfo .contact-wrapper > .content > .row.other {
  color: rgba(63, 14, 0, 1);
}

div#contactInfo .contact-wrapper > .content > .row.information > div {
  margin: 30px 0;
}

div#contactInfo .contact-wrapper > .content > .row.information > div > h5 {
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid rgba(63, 14, 0, 1);
  border-radius: 10px;
}

/* time */
div#contactInfo .contact-wrapper > .content > .row.time {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* other */
div#contactInfo .contact-wrapper > .content > .row.other > p {
  margin: 0;
}


/********************************/
/*          Responsive          */
/********************************/

/* bigger than 1240px */
@media only screen and (min-width: 1241px) {
  div#contactInfo {
    margin-left: 240px;
  }
}

@media only screen and (max-width: 1240px) {
  div#contactInfo {
    margin-left: 240px;
  }
}

@media only screen and (max-width: 1024px) {
  div#contactInfo {
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  div#contactInfo.content-wrapper > .contact-wrapper {
    margin: 0px;
  }
  section.bottom-section,
  section.bottom-section > .background-wrapper > .background img {
    min-height: 512px;
  }
}

@media only screen and (max-width: 768px) {
  div#contactInfo {
    top: 5%;
  }
}

@media only screen and (max-width: 512px) {
}

@media only screen and (max-width: 420px) {
  div#contactInfo .contact-wrapper > .header > .title {
    font-size: 3em;
  }
  div#contactInfo .contact-wrapper > .content > .row.social {
    margin-top: 20px;
  }
  div#contactInfo .contact-wrapper > .content > .row.social > img {
    width: 60px;
    margin: 0 5px;
  }
  div#contactInfo .contact-wrapper > .content > .row.description {
    margin: 50px 0;
  }
  div#contactInfo .contact-wrapper > .content > .row.information > div {
    margin: 15px 0;
  }
}

@media only screen and (max-width: 320px) {
}
