/**
 *  Index Css
 */

/********************************/
/*          Section 1           */
/*        (For Sliders)         */
/********************************/

section.section-1 {
  margin-bottom: 150px;
}

section.section-1 > .background-wrapper {
  background-image: url("../imgs/pic/02.jpg");
}

section.section-1 > .content-wrapper > .content {
  color: white;
  margin-top: -50px;
  margin-left: 350px;
}

/********************************/
/*          Section 2           */
/*     (For Decorate Line)      */
/********************************/

section.section-2 {
  min-height: 32.5px;
}


/********************************/
/*          Section 3           */
/*        (For Concept)         */
/********************************/

section.section-3 > .background-wrapper {
  background-image: url("../imgs/black blur/1.jpg");
}

section.section-3 > .content-wrapper {
  color: white;
}

/********************************/
/*          Section 4           */
/*      (For Description)       */
/********************************/

section.section-4 > .background-wrapper {
  background-color: #958A8D;
}
