/**
 *  Index Css
 */

/********************************/
/*          Section 1           */
/*        (For Sliders)         */
/********************************/

section.section-1 {
  margin-bottom: -5em;
}

section.section-1 > .background-wrapper {
  background-image: url("../imgs/line/01_line.png");
  background-position: 50%;
}

section.section-1 > .content-wrapper > .header {
  margin-top: 100px;
}

section.section-1 > .content-wrapper > .content {
  color: white;
  margin-left: 300px;
}


/********************************/
/*          Section 2           */
/*        (For Concept)         */
/********************************/

section.section-2 > .background-wrapper {
  background-image: url("../imgs/pic/03_cut.png");
}

section.section-2 > .content-wrapper > .header,
section.section-2 > .content-wrapper > .content {
  padding-top:1em;
  color: white;
}

/********************************/
/*          Section 3           */
/*      (For Description)       */
/********************************/

section.section-color-line{
  min-height: 253px;
}
section.section-color-line > .background-wrapper{
  background-image: url("../imgs/line/brown_line.png");
  min-height: 353px;
}

section.section-3 > .background-wrapper {
  background-color: #958A8D;
}
