/**
 *  Index Css
 */

/********************************/
/*          Section 1           */
/*        (For Sliders)         */
/********************************/


section.section-1 > .background-wrapper {
  background-image: url("../imgs/pic/index_01.png");
}

section.section-1 > .content-wrapper > .content {
  color: white;
  margin-top: -50px;
  margin-left: 350px;
}

/********************************/
/*          Section 2           */
/*     (For Decorate Line)      */
/********************************/

section.section-2 > .background-wrapper {
  background-image: url("../imgs/pic/index_02.png");
}
