/**
 *  Index Css
 */

/********************************/
/*          Section 1           */
/*        (For Sliders)         */
/********************************/


/**
 *  Background Image
 */
section.section-1 > .background-wrapper {
  /*background-image: url("../imgs/pic/index_01.png");*/
}

/**
 *  Components:
 *    .btn-back
 *    .btn-next
 *    .btn-control
 */
section.section-1 > .background-wrapper > .component > .btn-back,
section.section-1 > .background-wrapper > .component > .btn-next {
  bottom: 80px;
}

section.section-1 > .background-wrapper > .component > .btn-back > img,
section.section-1 > .background-wrapper > .component > .btn-next > img {
  width: 36px;
}

section.section-1 > .background-wrapper > .component > .btn-back > img,
section.section-1 > .background-wrapper > .component > .btn-next > img,
section.section-1 > .background-wrapper > .component > .btn-control > div.circle {
  cursor: pointer;
}

/* btn-back */
section.section-1 > .background-wrapper > .component > .btn-back {
  right: 128px;
}

/* btn-next */
section.section-1 > .background-wrapper > .component > .btn-next {
  right: 56px;
}

/* btn-control */
section.section-1 > .background-wrapper > .component > .btn-control {
  text-align: center;
  right: 16px;
  bottom: 40px;
}

section.section-1 > .background-wrapper > .component > .btn-control > div.circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 3px;
  background-color: gray;
}

section.section-1 > .background-wrapper > .component > .btn-control > div.circle.active {
  background-color: white;
}


/********************************/
/*          Section 2           */
/*     (For Decorate Line)      */
/********************************/

section.section-2 > .background-wrapper {
  background-image: url("../imgs/pic/index_02.png");
}

section.section-2 > .background-wrapper > .component > .btn-up {
  right: 25px;
  bottom: 120px;
}

section.section-2 > .background-wrapper > .component > .btn-up > img {
  cursor: pointer;
  width: 60px;
}

section.section-2 > .content-wrapper > .header {
  color: rgba(37, 13, 6, 1);
}
