/**
 *  Index Css
 */

/********************************/
/*          Section 1           */
/*        (For Sliders)         */
/********************************/


/**
 *  Components:
 *    .btn-back
 *    .btn-next
 *    .btn-control
 */

.btn-back,
.btn-next,
.btn-control {
  position: absolute;
}

.btn-back,
.btn-next {
  width: 30px;
  height: 30px;
  bottom: 200px;
}

.btn-back {
  right: 20px;
}

.btn-next {
  right: -50px;
}

.btn-back > img,
.btn-next > img {
  width: 100%;
}

.btn-control {
  width: 100px;
  left: 5px;
  bottom: 150px;
}

.btn-control > .circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 3px;
  background-color: gray;
}

.circle.active {
  background-color: white;
}

/**
 *  Content
 */

section.section-1 > .content-wrapper > .header {
  margin-top: 154px; /* 54 + 100 */
  margin-left: 0;
}

section.section-1 > .content-wrapper > .header img {
  width: 60%;
}

section.section-1 > .content-wrapper > .content {
  margin-top: 0;
  margin-left: 360px;
}

/********************************/
/*          Section 2           */
/*     (For Introduction)       */
/********************************/

section.section-2 > .content-wrapper {
  font-family: '微軟正黑體';
}

section.section-2 > .content-wrapper > .header {
  color: rgba(37, 13, 6, 1);
}

section.section-2 > .content-wrapper > .content {
  padding: 0 25%;
  color: #471A0C;
}


/********************************/
/*         Components           */
/********************************/


.circle {
  border-radius: 50%;
}

.triangle-top-left,
.triangle-bottom-right {
  position: absolute;
}

.triangle-top-left {
  top: 0;
  left: 60px;
	width: 0;
	height: 0;
	border-top: 75px solid white;
	border-right: 75px solid transparent !important;
}

.triangle-bottom-right {
  bottom: 0;
  right: 60px;
	width: 0;
	height: 0;
	border-bottom: 75px solid white;
	border-left: 75px solid transparent;
}

/********************************/
/*          Responsive          */
/********************************/

@media only screen and (max-width: 1024px) {
  section.section-1 > .content-wrapper > .header {
    margin-top: 80px;
    margin-left: -60px;
  }
  section.section-1 > .content-wrapper > .header img {
    width: 50%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  section.section-1 > .content-wrapper > .content {
    margin-top: -15px;
    margin-left: 0px;
    margin-right: -300px;
  }
  section.section-2 > .content-wrapper > .content {
    padding: 20px;
  }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 512px) {
  section.section-1 > .content-wrapper > .content {
    margin-right: -150px;
  }
}

@media only screen and (max-width: 420px) {
  section.section-1 > .content-wrapper > .content {
    margin-right: -100px;
  }
}

@media only screen and (max-width: 320px) {
  section.section-1 > .content-wrapper > .content {
    margin-right: -75px;
  }
}
