/**
 *  Index Css
 */

/********************************/
/*          Section 1           */
/*        (For Sliders)         */
/********************************/


/**
 *  Components:
 *    .btn-back
 *    .btn-next
 *    .btn-control
 */

.btn-back,
.btn-next,
.btn-control {
  position: absolute;
}

.btn-back,
.btn-next {
  width: 30px;
  height: 30px;
  bottom: 200px;
}

.btn-back {
  right: 20px;
}

.btn-next {
  right: -47px;
}

.btn-back > img,
.btn-next > img {
  width: 100%;
}

.btn-control {
  width: 100px;
  left: 5px;
  bottom: 150px;
}

.btn-control > .circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 3px;
  background-color: gray;
}

.circle.active {
  background-color: white;
}

/**
 *  Content
 */
section.section-1 > .content-wrapper > .header img {
  width: 60%;
}


/********************************/
/*          Section 2           */
/*     (For Introduction)       */
/********************************/

section.section-2 > .content-wrapper {
  font-family: '微軟正黑體';
}

section.section-2 > .content-wrapper > .header {
  color: rgba(37, 13, 6, 1);
}

section.section-2 > .content-wrapper > .content {
  padding: 0 25%;
  color: #471A0C;
}



/********************************/
/*         Components           */
/********************************/


.circle {
  border-radius: 50%;
}

.triangle-top-left,
.triangle-bottom-right {
  position: absolute;
}

.triangle-top-left {
  top: 0;
  left: 60px;
	width: 0;
	height: 0;
	border-top: 75px solid white;
	border-right: 75px solid transparent !important;
}

.triangle-bottom-right {
  bottom: 0;
  right: 60px;
	width: 0;
	height: 0;
	border-bottom: 75px solid white;
	border-left: 75px solid transparent;
}
