

/* For Information Component */

.information-header {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: rgba(51, 126, 121, 1);
  border-bottom: 3px solid rgba(51, 126, 121, 1);
}

/**
 *  For Information Club
 */

.information-club-wrapper {
  color: white;
}

.information-club {
  position: relative;
  width: 400px;
  height: 450px;
  margin: 0 auto;
}

.information-club > .information-club-background-wrapper {
  position: absolute;
  z-index: -999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.information-club > .information-club-content-wrapper {
  background-color: rgba(95, 81, 79, 0.5);
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.information-club > .information-club-content-wrapper > .information-club-content {
  width: 85%;
  padding: 20px 0px;
  border: 1px solid white;
}

/**
 *  For Information New
 */
.information-new-wrapper {
  color: white;
}

.information-new {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 500px;
  padding: 20px 20px;
  background-color: rgba(92, 92, 92, 0.5);
}

.information-new > .information-new-header,
.information-new > .information-new-content {
  display: inline-block;
}

.information-new > .information-new-header {
  overflow-x: visible;
  text-align: left;
  width: 35%;
}

.information-new > .information-new-content {
  width: 65%
}

.information-new > .information-new-content > a {
  color: inherit;
  text-decoration: none;
}
