/**
 *  Information Css
 */

/********************************/
/*          Section 1           */
/********************************/

section.section-1 {
}

section.section-1 > .background-wrapper {
  background-image: url("../imgs/line/02_line.png");
}

section.section-1 > .content-wrapper{
  color: white;
}


/********************************/
/*          Section 2           */
/********************************/

section.section-2 > .background-wrapper {
  background-image: url("../imgs/pic/07_cut.png");
}

section.section-2 > .content-wrapper {
  color: black;
}

section.section-2 > .content-wrapper > .content > div {
  text-align: left;
}

/********************************/
/*          Section 3           */
/********************************/

section.section-3{
}
section.section-3 > .background-wrapper {
  background-color: #a9a9a9;
}
section.section-3 > .content-wrapper > .content > .article{
  color: white;
}
section.section-3 > .content-wrapper > .content > .article > .title-block{
  text-align: left;
  font-size: 1.5em;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  margin-bottom: 10px;
}
section.section-3 > .content-wrapper > .content > .article > .content-block{
  padding: 50px;
  margin-bottom: 50px;
  background-color: #8f8989;
  text-align: left;
}
