
/**
 *  For information
 */

/********************************/
/*          Section 2           */
/********************************/

section.section-2 > .content-wrapper > .content p {
  color: rgba(71, 26, 12, 1)
}

/********************************/
/*            Club              */
/********************************/

.header.club-header-wrapper {
  width: 300px;
  color: rgba(51, 126, 121, 1) !important;
  margin: 0px auto;
  border-bottom: 5px solid rgba(51, 126, 121, 1);
}

.club-wrapper {
  position: relative;
  z-index: 50;
  width: 400px;
  height: 450px;
  margin: 40px auto;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.club-wrapper > .club-background-wrapper {
  position: absolute;
  z-index: -999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.club-wrapper > .club-background-wrapper > img {
  width: 100%;
  height: 100%;
}

.club-wrapper > .club-content-wrapper {
  width: 75%;
  height: 100%;
  color: white;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.club-wrapper > .club-content-wrapper > .club-header {
  width: 75%;
  padding-top: 20px;
  padding-bottom: 10px;
  border: 1px solid white;

}
.club-wrapper > .club-content-wrapper > .club-header > span {
  font-size: 0.5em;
  margin-left: 100px;
}


/**
 *  For New
 */
.header.new-header-wrapper {
  width: 300px;
  color: rgba(51, 126, 121, 1) !important;
  margin: 30px auto;
  border-bottom: 5px solid rgba(51, 126, 121, 1) !important;
}

.new-content-wrapper {
  display: -webkit-flex;
  display: flex;
  padding: 0 15%;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.new-content-wrapper > .new-content {
  display: inline-block;
  color: rgba(63, 14, 0, 1);
  padding: 5px 20px;
  margin: 0 auto;
  margin-bottom: 80px;
  border: 1px solid rgba(63, 14, 0, 1);
  border-radius: 20px;
}

/********************************/
/*          Responsive          */
/********************************/

@media only screen and (max-width: 1024px) {
  .header.club-header-wrapper,
  .header.new-header-wrapper {
    font-size: 1.5em;
  }
  .content-2 {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .club-wrapper {
    margin-top: 0;
  }
}

@media only screen and (max-width: 512px) {
  .header.club-header-wrapper,
  .header.new-header-wrapper {
    font-size: 2em;
  }
  .new-content-wrapper {
    margin-bottom: 20px;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  .new-content-wrapper > .new-content {
    margin-bottom: 20px;
  }
}
/**/
/*border-bottom: 1px solid rgba(51, 126, 121, 1);*/

/* For Information Component */
/*
.information-header {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: rgba(51, 126, 121, 1);
  border-bottom: 3px solid rgba(51, 126, 121, 1);
}*/
/**
 *  For Information Club
 */
/*
.information-club-wrapper {
  color: white;
}

.information-club {
  position: relative;
  width: 400px;
  height: 450px;
  margin: 0 auto;
}

.information-club > .information-club-background-wrapper {
  position: absolute;
  z-index: -999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.information-club > .information-club-content-wrapper {
  background-color: rgba(95, 81, 79, 0.5);
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.information-club > .information-club-content-wrapper > .information-club-content {
  width: 85%;
  padding: 20px 0px;
  border: 1px solid white;
}*/

/**
 *  For Information New
 */
/*.information-new-wrapper {
  color: white;
}

.information-new {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 500px;
  padding: 20px 20px;
  background-color: rgba(92, 92, 92, 0.5);
}

.information-new > .information-new-header,
.information-new > .information-new-content {
  display: inline-block;
}

.information-new > .information-new-header {
  overflow-x: visible;
  text-align: left;
  width: 35%;
}

.information-new > .information-new-content {
  width: 65%
}

.information-new > .information-new-content > a {
  color: inherit;
  text-decoration: none;
}*/
