/**
 *  Wishing-Well Css
 */

/********************************/
/*          Section 1           */
/********************************/

section.section-1 {
}

section.section-1 > .background-wrapper {
  background-image: url("../imgs/line/04_line.png");
}

section.section-1 > .content-wrapper > {
  color: white;
}

/********************************/
/*          Section 2           */
/*        (For Concept)         */
/********************************/

section.section-2 > .background-wrapper {
  background-image: url("../imgs/pic/04_cut.png");
}

section.section-2 > .content-wrapper {
  color: black;
}

section.section-2 > .content-wrapper > .content > .article{
	padding: 50px;
	margin-bottom: 50px;
	background-color: rgba(53,130,113,0.5);
	color: white;
}

section.section-2 > .content-wrapper > .content > .article > .title-block{
	text-align: left;
}
section.section-2 > .content-wrapper > .content > .article > .title-block > .title{
	font-size: 1.5em;
}
section.section-2 > .content-wrapper > .content > .article > .title-block > .date{
	font-size: 0.6em;
	text-align: center;
	margin-left: -10%;
}
section.section-2 > .content-wrapper > .content > .article > .title-block > .date > span{
	font-size: 2.5em;
}
section.section-2 > .content-wrapper > .content > .article > .content-block{
	padding-top: 10px;
	border-top: 1px solid rgba(255,255,255,0.6);
	text-align: left;
	color: white;
}
section.section-2 > .content-wrapper > .content > .article > .content-block img{
	width: 100%;
}
